.maindiv
{
    margin-top: 50px;
}
/* .report{position:absolute; height:100%; width:100%; border: none} */


.showSucessWrapper { padding: 10px 20px 0px 0px}
.showsuccess { width:40%; margin-left: 30%; margin-right: 30%; }
.showFail { width:40%; margin-left: 30%; margin-right: 30%; }
.logout {text-align: right; position: inherit;padding: 10px;}
